@model RaidExec.Controllers.CharacterDetails

@{
    ViewBag.Title = "Details";
    var guildCount = Model.GuildInvites.Count();
    var groupCount = Model.GroupInvites.Count();
    var boolGroup = (Model.Group == null) ? "No" : "Yes";
}

<h2>@Model.Name</h2>

<br />
<div class="well">
    <h4>Character Details</h4>
    <hr />
    <dl class="dl-horizontal">

        @if (!Model.UrlImage.IsEmpty())
        {
        <dt>
            @Html.DisplayNameFor(model => model.UrlImage)
        </dt>

        <dd>
            <img src=@Model.UrlImage height="160" width="240" />
        </dd>
        }

                <dt>
            @Html.DisplayNameFor(model => model.UserAccount)
        </dt>

        <dd>
            @Html.ActionLink(Model.UserAccount.Name, "Details", "UserAccounts", new { id = Model.UserAccount.Id }, new { @style = "width:100%;" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game)
        </dt>

        <dd>
            @Html.ActionLink(Model.Game.Name, "Details", "Games", new { id = Model.Game.Id }, new { @style = "width:100%;" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

    </dl>

    @if (Model.UserAccount.Name == User.Identity.Name)
    {
        <hr>
        <div class="full-center-spaced">
            <div></div>
        @Html.ActionLink("Edit", "CharacterEdit", "UserAccounts", new { id = Model.Id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Delete", "DeleteCharacter", "UserAccounts", new { id = Model.Id }, new { @class = "btn btn-danger" })
        </div>
    }
</div>
<div>
    @Html.ActionLink("Return", "Index", null, new { @class = "btn btn-warning" })
</div>
